<h2>Loading</h2>

<h6>Indicate loading and progress states.</h6>

<h3>Progressbar</h3>

<h4>Default</h4>

{{mdl-progress progress=50}}

<h4>Indeterminate</h4>

{{mdl-progress progress=50 indeterminate=true}}

<h4>Buffering</h4>
{{mdl-progress progress=33 buffer=87}}


<h3>Spinner</h3>

<h4>Multiple color</h4>
<div style="height: 80px;">
    {{mdl-spinner}}
</div>
<h4>Single color</h4>
<div style="height: 80px;">
    {{mdl-spinner singleColor=true}}
</div>